h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.hero {
    background: #ffc8dd;
    text-align: center;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
}